/* Code By Andi Septiadi - 1116104005 */

body {
	background: #607D8B;
    margin: 0px auto;
}

hr {
	background-color: #ECEFF1;
    color: #ECEFF1;
	height: 3px;
}

p {
	color: #ECEFF1;
	font-weight: bold;
}

.form {
	border-color: #ECEFF1;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
    padding: 8px 8px;
    background-color: rgba(255,255,255,0.5);
    color: #424242;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
}

.container {
	background-color: rgba(255,255,255,0.5);
    display: block;
    border-color: #ECEFF1;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
    position: relative;
    padding: 8px 38px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 18px;
    color: #424242;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    margin: 8px 8px;
    background-color: rgba(255,255,255,0.5);
}

.container:hover input ~ .checkmark {
    background-color: rgba(255,255,255,0.75);
}

.container input:checked ~ .checkmark {
    background-color: #263238;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    margin: 8px 8px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}

.container:hover input ~ .radio {
    background-color: rgba(255,255,255,0.75);
}

.container input:checked ~ .radio {
    background-color: #263238;
}

.radio:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .radio:after {
    display: block;
}

.container .radio:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 8px;
}

.reset {
	background-color: #f44336;
}

.reset:hover {
	background: #da190b;
}

.default {
	background-color: #e7e7e7; color: black;
}

.default:hover {
	background: #ddd;
}

.login {
    text-decoration: none;
    color: black;
    text-align: left;
}